* {
  padding: 0;
  margin: 0;
  border: 0 none;
  outline: 0;
  box-sizing: border-box;
}

:root {

  font-family: 'Merriweather Sans', sans-serif;
  font-size: 62.5%;
  color: #837E9F;
  --background: #22212C;
  --backgroudwrapper: #302F3D;
  --button: #CB92B1;
  --javascript: #E7DE79;
}

/* Utilizando flex basis para separação da tela */
body {
  width: 100%;
  height: 100vh;
  background-color: var(--background);
}

.container {
  display: flex;
  margin: 0 auto;

  padding: 4rem;
  gap: 4rem;

  max-width: 140rem;

}

.container aside {
  width: 30%;
}

.container main {
  flex: 1;


}

/* estilizalçao do profile  */

.container .cardwrapper .wrapper.profile h1 {
  margin: 2.5rem 0 .5rem 0;
}

.profilepic {
  width: 12.8rem;
  height: 12.8rem;
  border-radius: 50%;
  border: 2px solid #00ff00;


}


.container .cardwrapper .wrapper.profile {
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

/* Estilizando h1, p, h2 e a */

body h1 {
  font-size: 2.3rem;

}

body p,
span {
  font-size: 1.4rem;
}

body h2 {
  font-size: 2rem;
}

body a {
  color: #837E9F;
  font-size: 1.3rem;
}


/* alinhando os wrappers */

.container .cardwrapper {



  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.container .cardwrapper .wrapper {
  background-color: var(--backgroudwrapper);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;

  padding: 3rem 2rem;
}




.container .cardwrapper .social {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;


  width: 100%;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 3.4rem 4rem;


}

.container .cardwrapper .social a {
  display: flex;
  align-items: center;
  gap: 2rem;

  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 400;


}

.container .cardwrapper .social a span {


  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container .cardwrapper .wrapper a img {
  width: 2.4rem;
  height: 2.4rem;


}

.container .cardwrapper .wrapper .technologies {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;

  padding-top: 2rem;

}




.container .cardwrapper .wrapper .technologies p {
  display: flex;
  align-items: center;
  justify-content: center;


  padding: .6rem 0;
  border-radius: 3rem;
  background-color: var(--button);

  font-size: 1rem;
  font-weight: 700;
  color: #000000;

}

.container .cardwrapper .wrapper .technologies .colum {

  flex: 1;

  display: flex;
  flex-direction: column;

  gap: 1.5rem;
}

/* Organização da Experiencias, em lista */

.container .cardwrapper .wrapper .experiences {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  padding: 2rem 4rem;
}

.container .cardwrapper .wrapper .experiences h3 {

  font-size: 1.4rem;
  font-weight: 700;
}

.container .cardwrapper .wrapper .experiences p {

  font-size: 1.2rem;
  font-weight: 300;
}






/* #### PARTE II - Inicianando a MAIN - FLEX 1 #### */

main .wrapper {
  background-color: var(--backgroudwrapper);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;

  padding: 3rem 2rem;
  margin-bottom: 3rem;
}

main .cardprojects {
  display: flex;
  gap: 3rem;
}

main .project {

  background-color: var(--backgroudwrapper);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 3rem 2rem;

  flex-basis: 50%;
  flex-direction: column;


}

main .project p {

  margin: 2.2rem 0rem;

}

main .cardprojects .project a {
  display: flex;
  align-items: center;
  gap: 1.6rem;

  text-decoration: none;
}

main .cardprojects .projecticons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .cardprojects .projecticons .github {

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;

}

main .cardprojects .projecticons .github div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
}


main .cardprojects .projecticons .skill {
  display: flex;
  gap: .8rem;
  align-items: center;
}

main .cardprojects .projecticons .js-skill {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--javascript);
  border-radius: 50%;
}

/* Começando os POSTS */

.posts h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

.posts h3 {
  font-size: 1.6rem;
  font-weight: 400;
  padding-bottom: 1rem;
}

.posts p {
  font-size: 1.4rem;
  font-weight: 400;
}

.posts {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.recentposts {
  margin-top: 3rem;
}



.posts.wrapper>div {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

.posts.wrapper .tags {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* ###### MOBILE ######  */

@media (max-width:1000px) {

  main .cardprojects {
    display: flex;
    flex-direction: column;
  }


}

@media (max-width:850px) {



  .container {
    flex-direction: column;
    padding: 4rem 8rem;
  }

  .container aside {
    width: 100%;
  }



}


@media (max-width:600px) {



  .container {
    flex-direction: column;
    padding: 4rem 2rem;
  }

}